@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Ephesis&display=swap');
html {font-family:"Montserrat", sans-serif; color:#fff; font-size:1em;}
html,body,div,img,ul,li,a {z-index:0; margin:0; padding:0; box-sizing:border-box; border-width:0px; vertical-align:top; list-style:none; transition:0.5s; scroll-behavior:smooth;}
a:link,a:visited,a:active {color:#fff; text-decoration:underline;}
a:hover {color:#f00; transition:0s;}
body {background:#222;}

#menu {position:fixed; top:0; width:100%; display:flex; justify-content:center; z-index:101; overflow:hidden; font-family:"Audiowide"; font-size:1.3em; background:#111111dd;}
#menu ul {display:flex; flex-direction:row; float:right;}
#menu ul li a {display:flex; text-decoration:none; text-transform:uppercase; margin:0px; padding:20px;}
#menu ul li a:hover, .minimenu:hover, .minimenu.active:hover, .logotext:hover {color:#f00; transition:0s; background:#ffffff0c;}
.logotext {display:flex; float:left; padding:7px 20px; font-family:"Audiowide"; font-size:2em;}
.logotext a {text-decoration:none;}
.logotext span {color:#f00;}
.social-media {display:flex; float:left; margin:15px 20px 0 20px;}
.social-media img {height:40px; margin:0 0 0 5px; border:2px solid #00000000; border-radius:0px;}
.social-media img:hover {border:2px solid #f00; border-radius:20px; transition:0s;}
.minimenu {display:none;}

#main {position:relative; width:100%; display:flex; flex-flow:row wrap; justify-content:center; text-align:left; line-height:1.5; font-size:1.2em;}
#obsah {margin:90px auto 0 auto; width:960px; min-width:960px; max-width:960px; padding:0 20px;}
section {position:relative; width:100%; min-height:100vh;}
section#uvod {background:#222;}
section#kapela {background:#424;}
section#koncerty {background:#224;}
section#kontakt {background:#422;}
.ik-uvod {width:600px; border-radius:10px; margin:0 20px 100px 0; float:left;}
.ik-clenove {display:flex; flex-flow:row wrap; justify-content:center;}
#fero {background:#111 url(fotky/fero_a2.jpg);}
#fero:hover, #fero:link, #fero:visited, #fero:active {background:#222 url(fotky/fero_b2.jpg);}
#mates {background:#111 url(fotky/mates_a2.jpg);}
#mates:hover, #mates:link, #mates:visited, #mates:active {background:#222 url(fotky/mates_b2.jpg);}
#verca {background:#111 url(fotky/verca_a2.jpg);}
#verca:hover, #verca:link, #verca:visited, #verca:active {background:#222 url(fotky/verca_b2.jpg);}
#vlada {background:#111 url(fotky/vlada_a2.jpg);}
#vlada:hover, #vlada:link, #vlada:visited, #vlada:active {background:#222 url(fotky/vlada_b2.jpg);}
#maty {background:#111 url(fotky/maty_a2.jpg);}
#maty:hover, #maty:link, #maty:visited, #maty:active {background:#222 url(fotky/maty_b2.jpg);}
#fero, #fero:hover, #mates, #mates:hover, #verca, #verca:hover, #vlada, #vlada:hover, #maty, #maty:hover {width:170px; height:227px; border-radius:10px; margin:0 5px 10px 5px; background-size:contain; transition:1s;}
#fero:hover, #mates:hover, #verca:hover, #vlada:hover, #maty:hover {transition:0s;}
.kontakt {clear:both; word-break:break-all;}
.ksicht-kontakt {float:left; width:200px; border-radius:10px; margin:0 20px 0 0; overflow:hidden;}
.poznamka {font-style:italic; color:#777;}

/* úprava vlastností FB feedu Iglú ze sociablekit.com */
.sk-fb-event {background:#ffffff00 !important; margin:0 !important; padding:0 !important;}
.sk-fb-event div {border-radius:10px !important; margin:0px !important;}
.sk-events-header {display:none !important;}
.sk-event-item, .--sk-event-image-loaded, .vertical {max-height:960px !important; background:#ffffff80 !important;}

/* optimalizace pro mobily */
@media (max-width:960px) {
#menu {min-width:100%; max-width:100%; justify-content:left; height:67px;}
#menu.active {z-index:101; overflow:visible;}
#menu ul {flex-direction:column; width:100%;}
#menu ul li {background:#111111dd; visibility:hidden; opacity:0; transform:translateX(-250px); transition-delay:calc(0.1s * var(--i));}
#menu.active ul li {visibility:visible; opacity:1; transform:translateX(0px);}
#menu ul li a {justify-content:left;}
#menu ul li a:hover, .minimenu:hover, .minimenu.active:hover {background:#ffffff0c; transition:0s; border:0px; border-radius:0;}
.minimenu {display:flex; padding:20px; margin:0px; justify-content:right; cursor:pointer;}
.minimenu:hover {color:#f00;}
.minimenu::before {content:'menu'; margin:0 30px; text-transform:uppercase;}
.minimenu.active::before {content:'exit';}
.minimenu span {position:relative;}
.minimenu span::before {content:''; position:absolute; top:9px; right:0px; width:20px; height:2px; background:#fff; transition:0.5s;}
.minimenu span::after {content:''; position:absolute; top:16px; right:0px; width:20px; height:2px; background:#fff; transition:0.5s;}
.minimenu.active span::before {transform:rotate(225deg); top:13px;}
.minimenu.active span::after {transform:rotate(135deg); top:13px;}
.social-media {position:fixed; bottom:10px;}
#obsah {width:100%; min-width:100%; max-width:100%; padding:0 10px;}
.ik-uvod {width:100%; margin:0 0 20px 0;}
#fero, #fero:hover, #mates, #mates:hover, #verca, #verca:hover, #vlada, #vlada:hover, #maty, #maty:hover {width:150px; height:200px;}
.ksicht-kontakt {width:120px; margin:0 10px 0 0;}
