@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Ephesis&display=swap');
html {font-family:"Montserrat", sans-serif; color:#fff; font-size:1em;}
html,body,div,img,ul,li,a {z-index:0; margin:0; padding:0; box-sizing:border-box; border-width:0px; vertical-align:top; list-style:none; transition:0.5s;}
a:link,a:visited,a:active {color:#fff; text-decoration:underline;}
a:hover {color:#f00; transition:0s;}
body {background:#000;}

#menu {position:relative; overflow:hidden; font-family:"Audiowide"; font-size:1.3em; min-width:960px; max-width:960px; margin:0 auto;}
#menu ul {display:flex; flex-direction:row; float:right;}
#menu ul li a {display:flex; text-decoration:none; text-transform:uppercase; margin:5px 0; padding:15px;}
#menu ul li a:hover, .minimenu:hover, .minimenu.active:hover {color:#f00; transition:0s;}
.logotext {position:relative; float:left; display:flex; margin:8px 0 0 0; font-family:"Audiowide"; font-size:2em;}
.logotext a {text-decoration:none;}
.logotext span {color:#f00;}
.social-media {position:relative; float:left; display:flex; margin:15px 20px 0 20px;}
.social-media img {height:40px; margin:0 0 0 5px; border:2px solid #00000000; border-radius:0px;}
.social-media img:hover {border:2px solid #f00; border-radius:20px; transition:0s;}
.minimenu {display:none;}

#main {position:relative; display:flex; justify-content:center; margin:0 auto 20px auto; padding:30px;
  background:#ffffff22; text-align:left; line-height:1.5; font-size:1.1em;}
#obsah {min-width:960px; max-width:960px;}
.ik-uvod {width:100%; border-radius:10px;}
.ksichty-kapela {display:flex; flex-flow:row wrap; justify-content:center; margin:0 0 10px 0;}
#fero {background:#111 url(fotky/fero_a.jpg);}
#fero:hover {background:#999 url(fotky/fero_b.jpg);}
#mates {background:#111 url(fotky/mates_a.jpg);}
#mates:hover {background:#999 url(fotky/mates_b.jpg);}
#verca {background:#111 url(fotky/verca_a.jpg);}
#verca:hover {background:#999 url(fotky/verca_b.jpg);}
#vlada {background:#111 url(fotky/vlada_a.jpg);}
#vlada:hover {background:#999 url(fotky/vlada_b.jpg);}
#maty {background:#111 url(fotky/maty_a.jpg);}
#maty:hover {background:#999 url(fotky/maty_b.jpg);}
#fero, #fero:hover, #mates, #mates:hover, #verca, #verca:hover, #vlada, #vlada:hover, #maty, #maty:hover {width:150px; height:200px; border-radius:10px; margin:0 5px 10px 5px; background-size:contain; transition:1s; cursor:pointer;}
#fero:hover, #mates:hover, #verca:hover, #vlada:hover, #maty:hover {transition:0s;}
.kontakt {clear:both; word-break:break-all;}
.ksicht-kontakt {float:left; width:200px; border-radius:10px; margin:0 20px 0 0; overflow:hidden;}
.poznamka {font-style:italic; color:#777;}

/* úprava vlastností FB feedu Iglú ze sociablekit.com */
.sk-fb-event {background:#ffffff00 !important; margin:0 !important; padding:0 !important;}
.sk-fb-event div {border-radius:10px !important; margin:0px !important;}
.sk-events-header {display:none !important;}
.sk-event-item, .--sk-event-image-loaded, .vertical {max-height:960px !important; background:#ffffff80 !important;}

/* optimalizace pro mobily */
@media (max-width:960px) {
#menu {position:absolute; top:0; min-width:100%; max-width:100%;}
#menu.active {z-index:100;}
#menu ul {position:fixed; flex-direction:column; width:100%;}
#menu ul li {background:#222; visibility:hidden; opacity:0; transform:translateX(-250px); transition-delay:calc(0.1s * var(--i));}
#menu.active ul li {visibility:visible; opacity:1; transform:translateX(0px);}
#menu ul li a {justify-content:left;}
#menu ul li a, .minimenu {padding:20px;}
#menu ul li a:hover, .minimenu:hover, .minimenu.active:hover {background:#222; transition:0s; border:0px; border-radius:0;}
.minimenu {display:flex; justify-content:right; cursor:pointer;}
.minimenu:hover {color:#f00;}
.minimenu.active {background:#222;}
.minimenu::before {content:'menu'; margin:0 30px; text-transform:uppercase;}
.minimenu.active::before {content:'exit';}
.minimenu span {position:relative;}
.minimenu span::before {content:''; position:absolute; top:9px; right:0px; width:20px; height:2px; background:#fff; transition:0.5s;}
.minimenu span::after {content:''; position:absolute; top:16px; right:0px; width:20px; height:2px; background:#fff; transition:0.5s;}
.minimenu.active span::before {transform:rotate(225deg); top:13px;}
.minimenu.active span::after {transform:rotate(135deg); top:13px;}
.logotext {margin:8px 20px 0 20px;}
.logotext a:hover {background:none!important;}
.social-media {position:fixed; bottom:10px;}

#main {position:relative; margin-top:67px; padding:20px;}
#obsah {min-width:100%; max-width:100%;}
.ksicht-kapela img {width:100px;}
.ksicht-kontakt {width:120px; margin:0 10px 0 0;}
